:host {
    --gameinfo-width: 500px;
    --gameinfo-height: 37px;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--gameinfo-width);
    height: var(--gameinfo-height);
    overflow: clip;
    box-sizing: border-box;
    color: white;
    background-color: black;
    display: grid;
    grid-template-columns: 400px 100px;
    line-height: var(--gameinfo-height);
    font-size: 20px;
    font-weight: 500;
}
.container > div:nth-child(1) {
    padding-left: 10px;
}
.container > div:nth-child(2) {
    text-align: center;
}
