:host {
    --total-width: 410px;
    --total-bottom: 190px;
    --frame-width: 84px;
    --frame-height: 58px;
    --shift-width: 20px;
    --second-item-left: 90px;
    --width-increment: 66px;
    --font-color: white;
    --shadow-color: black;
}

:host > div {
    position: absolute;
    right: 0px;
    bottom: var(--total-bottom);
    width: var(--total-width);
    height: calc((var(--frame-height) + 2) * 3);
    overflow: hidden;
}

/* top/middle/bottom */
:host > div > div {
    position: relative;
    width: var(--total-width);
    height: var(--frame-height);
}

div.top {
    left: calc(var(--shift-width) * 2);
    margin-bottom: 2px;
}

div.middle {
    left: calc(var(--shift-width) * 1);
    margin-bottom: 2px;
}

/* item frame */
.frame {
    position: absolute;
    box-sizing: border-box;
    width: var(--frame-width);
    height: var(--frame-height);
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('icon/frame-white.png');
    background-size: 100% 100%;
}

.image {
    box-sizing: border-box;
    width: var(--frame-width);
    height: var(--frame-height);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: start;
    align-items: end;
}

/* number */
.count {
    font-size: 80%;
    font-weight: bold;
    color: var(--font-color);
    text-shadow: var(--shadow-color)  1px 1px 0, var(--shadow-color) -1px -1px 0,
                 var(--shadow-color) -1px 1px 0, var(--shadow-color)  1px -1px 0,
                 var(--shadow-color)  0px 1px 0, var(--shadow-color)  0px -1px 0,
                 var(--shadow-color) -1px 0px 0, var(--shadow-color)  1px  0px 0;
    vertical-align: bottom;
    padding-left: 6px;
    padding-bottom: 2px;
}

/* position */
.camera-player-item-phoenixkit {
    left: calc(var(--second-item-left) + var(--width-increment) * 0);
}

.camera-player-item-ultimateaccelerant {
    left: calc(var(--second-item-left) + var(--width-increment) * 1);
}

.camera-player-item-thermitgrenade {
    left: calc(var(--second-item-left) + var(--width-increment) * 0);
}

.camera-player-item-fraggrenade {
    left: calc(var(--second-item-left) + var(--width-increment) * 1);
}

.camera-player-item-arcstar {
    left: calc(var(--second-item-left) + var(--width-increment) * 2);
}

.camera-player-item-syringe {
    left: calc(var(--second-item-left) + var(--width-increment) * 0);
}

.camera-player-item-medkit {
    left: calc(var(--second-item-left) + var(--width-increment) * 1);
}

.camera-player-item-shieldcell {
    left: calc(var(--second-item-left) + var(--width-increment) * 2);
}

.camera-player-item-shieldbattery {
    left: calc(var(--second-item-left) + var(--width-increment) * 3);
}

/* item image */
.syringe {
    background-image: url('icon/syringe.png');
    background-size: 68%;
}

.medkit {
    background-image: url('icon/medkit.png');
    background-size: 55%;
}

.shieldcell {
    background-image: url('icon/shieldcell.png');
    background-size: 33%;
}

.shieldbattery {
    background-image: url('icon/shieldbattery.png');
    background-size: 30%;
}

.phoenixkit {
    background-image: url('icon/phoenixkit.png');
    background-size: 30%;
}

.ultimateaccelerant {
    background-image: url('icon/ultimateaccelerant.png');
    background-size: 50%;
}

.thermitgrenade {
    background-image: url('icon/thermitgrenade.png');
    background-size: 58%;
}

.fraggrenade {
    background-image: url('icon/fraggrenade.png');
    background-size: 48%;
}

.arcstar {
    background-image: url('icon/arcstar.png');
    background-size: 55%;
}

.backpack[data-camera-player-item-backpack="1"] {
    background-image: url('icon/backpack1.png');
    background-size: 35%;
}
.backpack[data-camera-player-item-backpack="2"] {
    background-image: url('icon/backpack2.png');
    background-size: 45%;
}
.backpack[data-camera-player-item-backpack="3"], .backpack[data-camera-player-item-backpack="4"] {
    background-image: url('icon/backpack3.png');
    background-size: 45%;
}

.knockdownshield[data-camera-player-item-knockdownshield="1"],
.knockdownshield[data-camera-player-item-knockdownshield="2"],
.knockdownshield[data-camera-player-item-knockdownshield="3"],
.knockdownshield[data-camera-player-item-knockdownshield="4"] {
    background-image: url('icon/knockdownshield.png');
    background-size: 50%;
}

.frame[data-camera-player-item-backpack="2"],
.frame[data-camera-player-item-knockdownshield="2"] {
    background-image: url('icon/frame-blue.png');
}

.frame[data-camera-player-item-backpack="3"],
.frame[data-camera-player-item-knockdownshield="3"] {
    background-image: url('icon/frame-purple.png');
}

.frame[data-camera-player-item-backpack="4"],
.frame[data-camera-player-item-knockdownshield="4"] {
    background-image: url('icon/frame-gold.png');
}

/* hide when the number of items is 0 */
[data-camera-player-item-syringe="0"],
[data-camera-player-item-medkit="0"],
[data-camera-player-item-shieldcell="0"],
[data-camera-player-item-shieldbattery="0"],
[data-camera-player-item-phoenixkit="0"],
[data-camera-player-item-ultimateaccelerant="0"],
[data-camera-player-item-thermitgrenade="0"],
[data-camera-player-item-fraggrenade="0"],
[data-camera-player-item-arcstar="0"],
[data-camera-player-item-backpack="0"],
[data-camera-player-item-knockdownshield="0"]
{
    opacity: 0%;
}
