* {
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    font-family:'Segoe UI', 'Yu Gothic UI', sans-serif;
}

/* TDMScoreBoard */
#tdmscoreboard {
    position: fixed;
    right: 20px;
    top: 400px;
    width: 400px;
    box-sizing: border-box;
    color: #FFFFFF;
    overflow: hidden;
}

#tdmscoreboard.hide {
    display: none;
}

#tdmscoreboard.forcehide {
    display: none;
}

#tdmscoreboard_team_0, #tdmscoreboard_team_1 {
    box-sizing: border-box;
    width: 100%;
    padding: 2px;
}

#tdmscoreboard_team_0 {
    margin-bottom: 2px;
}

#tdmscoreboard_team_0 {
    border: 1px solid rgb(66, 194, 255);
}

#tdmscoreboard_team_0 > .tdmsb_teamname {
    background-color: rgb(32, 79, 104);
}

#tdmscoreboard_team_1 {
    border: 1px solid rgb(254, 97, 57);
}

#tdmscoreboard_team_1 > .tdmsb_teamname {
    background-color: rgb(107, 43, 32);
}

.tdmsb_teamname {
    height: 1.4em;
    line-height: 1.4em;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
}

.tdmsb_label, .tdmsb_player {
    display: grid;
    grid-template-columns: 1fr 30px 30px 60px 60px;
    height: 1.3em;
    line-height: 1.3em;
}

.tdmsb_label {
    padding-top: 2px;
    background-color: #666666;
    text-align: center;
    font-size: 8px;
}

.tdmsb_player {
    height: 1.2em;
    line-height: 1.2em;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    font-size: 13px;

}

.tdmsb_statekilled {
    color: rgb(109, 198, 24);
}

.tdmsb_selected {
    background-color: rgb(88, 104, 32);
}

/* ErrorStatus */
#errorstatus {
    --overlay-errorstatus-width: 500px;
    --overlay-errorstatus-height: 200px;
    position: fixed;
    top: calc(50% - var(--overlay-errorstatus-height)/2);
    left: calc(50% - var(--overlay-errorstatus-width)/2);
    width: var(--overlay-errorstatus-width);
    height: var(--overlay-errorstatus-height);
}

#errorstatus > div {
    border: 3px solid #F00;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: #FFF;
}

#errorstatus > div.es_webapi.hide {
    display: none;
}

#errorstatus > div.es_liveapi.hide {
    display: none;
}
