#pragma code_page(65001)

#include "resource.hpp"
#include "winres.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 0,5,4,0
	PRODUCTVERSION 0,5,4,0
	FILEFLAGSMASK 0x3fL
	FILEFLAGS 0x0L
	FILEOS 0x40004L
	FILETYPE 0x1L
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040004b0"
		BEGIN
			VALUE "FileDescription", "https://github.com/ndekopon/overlaytools"
			VALUE "FileVersion", "0.5.4.0"
			VALUE "InternalName", "dump2json"
			VALUE "OriginalFilename", "dump2json.exe"
			VALUE "ProductName", "dump2json"
			VALUE "ProductVersion", "0.5.4.0"
			VALUE "LegalCopyright", "© 2023-2025 ndekopon."
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x400, 1200
	END
END
